<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>

<body>
    <h1>Basic Python Libraries</h1>
    <ul>
        <li>Pandas – library for data analysis and data manipulation</li>
        <li>Matplotlib – library used for data visualization</li>
        <li>Seaborn – a library based on matplotlib and it provides a high-level interface for data visualization</li>
        <li>WordCloud – library to visualize text data</li>
        <li>re – provides functions to pre-process the strings as per the given regular expression</li>
    </ul>

    <h2>Natural Language Processing</h2>
    <ul>
        <li>nltk – Natural Language Toolkit is a collection of libraries for natural language processing</li>
        <li>stopwords – a collection of words that don’t provide any meaning to a sentence</li>
        <li>WordNetLemmatizer – used to convert different forms of words into a single item but still keeping the
            context intact.</li>
    </ul>

    <h2>Scikit-Learn (Machine Learning Library for Python)</h2>
    <ul>
        <li>CountVectorizer – transform text to vectors</li>
        <li>GridSearchCV – for hyperparameter tuning</li>
        <li>RandomForestClassifier – machine learning algorithm for classification</li>
    </ul>

    <h2>Evaluation Metrics</h2>
    <ul>
        <li>Accuracy Score – no. of correctly classified instances/total no. of instances</li>
        <li>Precision Score – the ratio of correctly predicted instances over total positive instances</li>
        <li>Recall Score – the ratio of correctly predicted instances over total instances in that class</li>
        <li>Roc Curve – a plot of true positive rate against false positive rate</li>
        <li>Classification Report – report of precision, recall and f1 score</li>
        <li>Confusion Matrix – a table used to describe the classification models</li>
    </ul>

    <h2>Evaluate Dataset</h2>
    <p>We will use the dataset which is available on Kaggle for sentiment analysis, which consists of a sentence and
        its respective sentiment as a target variable. This dataset contains 3 separate files named train.txt, test.txt
        and val.txt.</p>
    <p>You can find the dataset <a href="https://www.kaggle.com/">here</a>.</p>

    <p>Now, we will read the training data and validation data. As the data is in text format, separated by semicolons
        and without column names, we will create the data frame with read_csv() and parameters as “delimiter” and
        “names”.</p>

    <h2>Data Pre-processing</h2>
    <p>Now, we will perform some pre-processing on the data before converting it into vectors and passing it to the
        machine learning model.</p>
    <p>We will create a function for pre-processing of data.</p>

    <h2>Bag of Words</h2>
    <p>Now, we will use the Bag of Words Model(BOW), which is used to represent the text in the form of a bag of
        words,i.e. the grammar and the order of words in a sentence are not given any importance, instead,
        multiplicity,i.e. (the number of times a word occurs in a document) is the main point of concern.</p>
    <p>Basically, it describes the total occurrence of words within a document.</p>
    <p>Scikit-Learn provides a neat way of performing the bag of words technique using CountVectorizer.</p>

    <h2>Model Evaluation</h2>
    <p>We will evaluate our model using various metrics such as Accuracy Score, Precision Score, Recall Score,
        Confusion Matrix and create a roc curve to visualize how our model performed.</p>
    <p>As we can see that our model performed very well in classifying the sentiments, with an Accuracy score, Precision
        and Recall of approx 96%. And the roc curve and confusion matrix are great as well which means that our model is
        able to classify the labels accurately, with fewer chances of error.</p>

    <h2>Predict for Custom Input:</h2>
    <p>We will check for custom input as well and let our model identify the sentiment of the input statement.</p>
</body>

</html>
